# This is Git's per-user configuration file.
[user]
  name = Stéphane MOR
  email = {{ .email | quote }} 

[url "ssh://git@github.com/"]
  insteadOf = https://github.com/

# GitLab Access token
#[url "https://shell:glpat-74qQJacJCAAE-TKPnpRo@gitlab.com"]
# insteadOf = https://gitlab.com

#[url "git@gitlab.com:"]
#        insteadOf = https://gitlab.com/
